In [1]:
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

## Read all input files and merge into one output

In [7]:
path = os.getcwd()+"\\input"
files = os.listdir(path)

files_xls = [r"C:\Users\Titas\Desktop\11b\jupyter notebook\input\\"+f for f in files if f[-4:] == 'xlsx']
files_xls

df = pd.DataFrame()
for f in files_xls:
    data = pd.read_excel(f, 'Sheet1')
    df = df.append(data)
df.to_excel("output.xlsx", index= False)

C:\Users\Titas\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [14]:
df = pd.DataFrame()
df = pd.read_excel("input 1.xlsx", index= False)
print(len(df))
df.head()

1313

,Adresas,Aukštas:,Aukštų sk.:,Buto numeris:,Kaina mėn.:,Kambarių sk.:,Metai:,Namo numeris:,Nuoroda,Pastato tipas:,Peržiūrėjo,Plotas:,Redaguotas,Įdėtas,Įrengimas:,Šildymas:
0,https://www.aruodas.lt/butai-vilniuje-pasilaic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.aruodas.lt/butu-nuoma-vilniuje-pas...,3.0,9.0,NaN,450 €,2.0,2007,NaN,NaN,Mūrinis,NaN,64 m²,NaN,NaN,Įrengtas ...,Centrinis kolektorinis
2,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,4.0,4.0,NaN,699 €,2.0,2019,10,NaN,Mūrinis,NaN,"41,47 m²",NaN,NaN,NaN,"Centrinis, elektra"
3,https://www.aruodas.lt/butu-nuoma-vilniuje-sen...,3.0,3.0,NaN,800 €,3.0,1940,NaN,NaN,Mūrinis,NaN,71 m²,NaN,NaN,Įrengtas ...,Dujinis
4,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,2.0,3.0,NaN,400 €,2.0,1969,NaN,NaN,Mūrinis,NaN,"41,84 m²",NaN,NaN,Įrengtas ...,Centrinis

In [16]:
df2 = pd.DataFrame()
df2 = pd.read_excel("input 2.xlsx", index= False)
print(len(df2))
df2.head()

366

,Adresas,Aukštas:,Aukštų sk.:,Buto numeris:,Kaina mėn.:,Kambarių sk.:,Metai:,Namo numeris:,Pastato tipas:,Plotas:,Įrengimas:,Šildymas:
0,https://www.aruodas.lt/butai-vilniuje-pasilaic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.aruodas.lt/butu-nuoma-vilniuje-nau...,4.0,6.0,24,890 €,3.0,2017,4,Monolitinis,76 m²,NaN,NaN
2,https://www.aruodas.lt/butu-nuoma-vilniuje-uzu...,2.0,4.0,205,550 €,3.0,2017,6,Mūrinis,"56,17 m²",NaN,NaN
3,https://www.aruodas.lt/butu-nuoma-vilniuje-nau...,2.0,5.0,NaN,290 €,1.0,1969,23,Mūrinis,30 m²,NaN,Centrinis
4,https://www.aruodas.lt/butu-nuoma-vilniuje-ant...,5.0,5.0,NaN,299 €,1.0,1700,94,Mūrinis,28 m²,NaN,Centrinis

In [18]:
frames = [df, df2]
df_final = pd.concat(frames)
print(len(df_final))
df_final.head()

1679

C:\Users\Titas\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Adresas,Aukštas:,Aukštų sk.:,Buto numeris:,Kaina mėn.:,Kambarių sk.:,Metai:,Namo numeris:,Nuoroda,Pastato tipas:,Peržiūrėjo,Plotas:,Redaguotas,Įdėtas,Įrengimas:,Šildymas:
0,https://www.aruodas.lt/butai-vilniuje-pasilaic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.aruodas.lt/butu-nuoma-vilniuje-pas...,3.0,9.0,NaN,450 €,2.0,2007,NaN,NaN,Mūrinis,NaN,64 m²,NaN,NaN,Įrengtas ...,Centrinis kolektorinis
2,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,4.0,4.0,NaN,699 €,2.0,2019,10,NaN,Mūrinis,NaN,"41,47 m²",NaN,NaN,NaN,"Centrinis, elektra"
3,https://www.aruodas.lt/butu-nuoma-vilniuje-sen...,3.0,3.0,NaN,800 €,3.0,1940,NaN,NaN,Mūrinis,NaN,71 m²,NaN,NaN,Įrengtas ...,Dujinis
4,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,2.0,3.0,NaN,400 €,2.0,1969,NaN,NaN,Mūrinis,NaN,"41,84 m²",NaN,NaN,Įrengtas ...,Centrinis

In [20]:
df_final = df_final.drop_duplicates()
len(df_final)
df_final.to_excel("input.xlsx", index= False)

## Clean data

In [3]:
# Delete rows with Nan values in Kaina men
df =df.drop([df[pd.isna(df["Kaina mėn.:"])].index][0])
print(len(df))

1266

In [4]:
# replace characters
df['Kaina mėn.:'] = df['Kaina mėn.:'].str.replace('€','')
df['Kaina mėn.:'] = df['Kaina mėn.:'].str.replace(' ','')
df['Plotas:'] = df['Plotas:'].str.replace('m²','')
df['Plotas:'] = df['Plotas:'].str.replace(',','.')

df['Metai:'] = df["Metai:"].astype(str)
df[['Metai','Renovacija']] = df['Metai:'].str.split(',',expand=True)
# clean year data
df['Metai'] = df['Metai'].str[:4]
df['Renovacija'] = df['Renovacija'].str[:5]
# replace None with 0 in Renovacija
df['Renovacija'] = df['Renovacija'].fillna(0)
df.head()

df.to_excel("outputAfterCleaning.xlsx", index= False)

In [5]:
df.loc[df[df['Adresas'].str.contains('pasilaiciuose').values].index,"Rajonas"] = "pasilaiciuose"
df.loc[df[df['Adresas'].str.contains('zveryne').values].index,"Rajonas"] = "zveryne"
df.loc[df[df['Adresas'].str.contains('pilaiteje').values].index,"Rajonas"] = "pilaiteje"
df.loc[df[df['Adresas'].str.contains('senamiestyje').values].index,"Rajonas"] = "senamiestyje"
df.loc[df[df['Adresas'].str.contains('naujamiestyje').values].index,"Rajonas"] = "naujamiestyje"

df.loc[df[df['Adresas'].str.contains('uzupyje').values].index,"Rajonas"] = "uzupyje"
df.loc[df[df['Adresas'].str.contains('snipiskese').values].index,"Rajonas"] = "snipiskese"
df.loc[df[df['Adresas'].str.contains('antakalnyje').values].index,"Rajonas"] = "antakalnyje"
df.loc[df[df['Adresas'].str.contains('zirmunuose').values].index,"Rajonas"] = "zirmunuose"

df['Rajonas'] = df['Rajonas'].fillna("None")
RajonoKodavimas = LabelEncoder()
df['RajonoKodavimas'] = RajonoKodavimas.fit_transform(df['Rajonas'])

# df.to_excel("outputAfterCleaningdPas.xlsx", index= False)

In [6]:
# encode the building type
df =df.drop([df[pd.isna(df["Pastato tipas:"])].index][0])
PastatoTipas = LabelEncoder()

df['Pastato tipas'] = PastatoTipas.fit_transform(df['Pastato tipas:'])

In [7]:
# delete repeating columns
del df['Metai:']
del df['Pastato tipas:']

In [8]:
# save df with features and target columns
df =df.drop([df[pd.isna(df["Aukštas:"])].index][0])
df =df.drop([df[pd.isna(df["Kambarių sk.:"])].index][0])

df_train = df[['Metai', 'Plotas:', 'Kambarių sk.:', 'Aukštas:', 'Pastato tipas','Renovacija','Kaina mėn.:', 'RajonoKodavimas']]

In [9]:
# check for null values
total = df_train.isna().sum().sort_values(ascending=False)
total

RajonoKodavimas    0
Kaina mėn.:        0
Renovacija         0
Pastato tipas      0
Aukštas:           0
Kambarių sk.:      0
Plotas:            0
Metai              0
dtype: int64

In [10]:
# split by features and target to X and y
X = df[['Metai', 'Plotas:', 'Kambarių sk.:', 'Aukštas:', 'Pastato tipas','Renovacija','RajonoKodavimas']]
y = df['Kaina mėn.:']

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)
print(X_train.shape, y_train.shape)

# train the model
model = RandomForestRegressor(random_state=0, max_depth=5)
model.fit(X_train, y_train)

# calculate the mean_absolute_error for train and test data
prediction_train = model.predict(X_train)
train = mean_absolute_error(prediction_train, y_train)

prediction_test = model.predict(X_test)
test = mean_absolute_error(prediction_test, y_test)

print("train:", train,"test:", test)

(947, 7) (947,)
train: 119.20666638205884 test: 331.819644337792

C:\Users\Titas\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [12]:
from sklearn.metrics import mean_squared_error

print("RSME:", (mean_squared_error(y_test, model.predict(X_test))**0.5))

RSME: 3530.9444425576025

1208    680
313     500
776     600
6       700
1211    550
       ...
899     460
1034    270
1048    750
771     450
949     430
Name: Kaina mėn.:, Length: 316, dtype: object

In [14]:
model.predict(X_test).describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [ ]:
model.feature_importances_

In [ ]:
from sklearn.externals import joblib
joblib.dump(model, 'my_model.pkl', compress=9)

# model_clone = joblib.load('my_model.pkl')

In [ ]:
model_clone = joblib.load('my_model.pkl')
flat = [[2008,46,2,1,0,0]]
print(model.predict(flat))

In [ ]:
df['Rajonas'].value_counts()