In [2]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
import numpy as np

In [77]:
df = pd.read_excel(".\input\input mixed features.xlsx")
df  = df.iloc[1:2]
df['Namo numeris:'] = df['Namo numeris:'].astype(int)
df = df[["Buto numeris:", "Apsauga:","Namo numeris:","Kambarių sk.:","Kaina mėn.:"]]
df

  Buto numeris: Apsauga:  Namo numeris:  Kambarių sk.: Kaina mėn.:
1            24      NaN              4            3.0       890 €

In [5]:
df.dtypes

Buto numeris:     object
Apsauga:          object
Namo numeris:      int32
Kambarių sk.:    float64
dtype: object

In [118]:
Pipe = Pipeline(steps = [
    ("impute", SimpleImputer(strategy = "constant", fill_value=0)),
    ("MyTransformer", MyTransformer())
])

In [119]:
X = Pipe.fit_transform(df)

In [117]:
from sklearn.base import BaseEstimator, TransformerMixin

class MyTransformer(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X_transformed = X.tolist()
        return X_transformed