In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('output.csv')
df.describe()

,floor,total_floor_num,rent_price,room_num,year,area
count,1197.000000,1196.000000,1198.000000,1196.000000,1198.000000,1198.000000
mean,3.423559,5.937291,518.330551,2.057692,1911.405676,60.117805
std,2.289692,3.511404,254.246181,0.811538,387.350185,230.736331
min,0.000000,1.000000,15.000000,1.000000,0.000000,12.000000
25%,2.000000,4.000000,350.000000,2.000000,1971.000000,38.000000
50%,3.000000,5.000000,470.000000,2.000000,1995.000000,50.000000
75%,4.000000,8.000000,650.000000,3.000000,2009.000000,66.000000
max,20.000000,29.000000,1480.000000,8.000000,2019.000000,8000.000000

## train_test_split

In [3]:
df_train = df.select_dtypes(include=['float64','int64'])

df_features = df_train.drop(columns="rent_price")
df_target = df_train["rent_price"]

X_train, X_test, y_train, y_test = train_test_split(df_features, df_target)

## pipline and model

In [4]:
Pipeline = Pipeline(steps = [
    ("impute", SimpleImputer(missing_values=np.nan)), 
    ("scaler", StandardScaler()),
    ("pca", PCA()),
    ("regression", RandomForestRegressor())
])

In [5]:
pipe = Pipeline.fit(X_train, y_train)

print("RSME:", int((mean_squared_error(y_test, pipe.predict(X_test)))**0.5))

RSME: 160

C:\Users\Titas\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)