In [1]:
import pandas as pd

In [6]:
df = pd.read_excel("output.xlsx")
df.head()
df =df.drop([df[pd.isna(df["Kaina mėn.:"])].index][0])

,Adresas,Aukštas:,Aukštų sk.:,Buto numeris:,Kaina mėn.:,Kambarių sk.:,Metai:,Namo numeris:,Nuoroda,Pastato tipas:,Peržiūrėjo,Plotas:,Redaguotas,Įdėtas,Įrengimas:,Šildymas:
0,https://www.aruodas.lt/butai-vilniuje-pasilaic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.aruodas.lt/butu-nuoma-vilniuje-pas...,3.0,9.0,NaN,450 €,2.0,2007,NaN,NaN,Mūrinis,NaN,64 m²,NaN,NaN,Įrengtas ...,Centrinis kolektorinis
2,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,4.0,4.0,NaN,699 €,2.0,2019,10,NaN,Mūrinis,NaN,"41,47 m²",NaN,NaN,NaN,"Centrinis, elektra"
3,https://www.aruodas.lt/butu-nuoma-vilniuje-sen...,3.0,3.0,NaN,800 €,3.0,1940,NaN,NaN,Mūrinis,NaN,71 m²,NaN,NaN,Įrengtas ...,Dujinis
4,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,2.0,3.0,NaN,400 €,2.0,1969,NaN,NaN,Mūrinis,NaN,"41,84 m²",NaN,NaN,Įrengtas ...,Centrinis

## Cleaning target col

In [24]:
try:
    df['Kaina mėn.:'] = df['Kaina mėn.:'].str.replace(' €','')
    df['Kaina mėn.:'] = df['Kaina mėn.:'].str.replace(' ','')
    df['Kaina mėn.:'] = df['Kaina mėn.:'].astype(int)
except:
    print("Target col is converted to int")
df['Kaina mėn.:'].describe()

Target col is clean

count     1266.000000
mean       648.507109
std       1824.711713
min         15.000000
25%        350.000000
50%        490.000000
75%        699.000000
max      63000.000000
Name: Kaina mėn.:, dtype: float64